.about {
  padding: 0 0 40px 0;
  background-color: #fef5e0;
  text-align: center;
}

.about-icon {
  position: relative;
  top: -40px;
}

.about-icon__cycle {
  background-color: $color-main;
  height: 80px;
  width: 80px;
  padding: 0;
  margin: 0;
  display: inline-block;
  line-height: 80px;
  color: $color-txt;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.about-intitle {
  width: 860px;
  position: relative;
  margin: 0 auto;
  padding: 15px 30px;
  box-sizing: border-box;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-top: 4px solid $color-main;
    border-left: 4px solid $color-main;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-bottom: 4px solid $color-main;
    border-right: 4px solid $color-main;
  }
}

.about-tit__txt {
  font-size: 2.8rem;
  font-weight: 600;
}

.about-txt {
  font-weight: 600;
  font-size: 2.0rem;
  margin-top: 40px;
}

.about-box {
  margin: 30px auto;
  max-width: calc(100% - 40px);
  width: 1170px;
  padding: 30px;
  background-color: $color-txt;
  border: 2px solid $color-main;
  border-radius: 5px;
}

.box-txt {
  font-weight: 600;
  font-size: 2.0rem;
}

.box {
  display: inline-block;
  padding: 10px;
}

.inbox-txt {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 5px;
}

@include media(max,lg) {
  .about-icon__cycle {
    font-size: 1.4rem;
  }

  .about-intitle {
    margin: 0 auto;
    position: relative;
    padding: 10px;
  }

  .about-intitle {
    width: 95%;
  }

  .about-tit__txt {
    font-size: 2.4rem;
    font-weight: 600;
  }

  .about-txt {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .about-box {
    width: 95%;
  }

  .box-txt {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

@include media(max,sp) {
  .about-icon {
    top: -30px;
  }

  .about-icon__cycle {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 1.2rem;
  }

  .about-intitle {
    width: 95%;
    margin: 0 auto;
    position: relative;
    padding: 10px;
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
    }
  }

  .about-tit__txt {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .about-txt {
    font-size: 1.5rem;
    margin-top: 15px;
    font-weight: 600;
  }

  .about-box {
    padding: 10px;
    width: 95%;
  }

  .box-txt {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .box {
    padding: 5px;
    img {
      height: 30px;
    }
  }

  .inbox-txt {
    font-size: 1rem;
  }
}