.big-contact {
  background-color: $color-main;
  padding: 30px 0;
  text-align: center;
}

.big-contact-txt {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  p {
    margin-bottom: 10px;
  }
  .free-place {
    background-color: #F9F2F4;
    color: #C7264E;
    font-size: 90%;
    padding: 2px 4px;
  }
}

.contactbtn {
  color: #fff;
  font-size: 2.0rem;
  margin: 45px auto;
  background-color: #DB6B64;
  padding: 30px 120px;
  border-radius: 50px;
  max-width: 1028px;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 600;
  &:hover {
    background-color: #C7264E;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}

.contactbtn {
  margin-bottom: 10px;
}

.contact-txts {
  color: #fff;
  font-size: 2.1rem;
  font-weight: 600;
  p {
    margin-bottom: 20px;
  }
}

.sns-list {
  display: flex;
  justify-content: center;
}


@include media(max,lg) {
  .big-contact-txt {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 5px;
  }

  .contactbtn {
    padding: 25px 50px;
    margin: 10px 80px;
  }

  .contactbtn-txt {
    font-size: 1.8rem;
  }
}

@include media(max,sp) {
  .big-content {
    padding: 15 0px;
  }

  .big-contact-txt {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .contactbtn {
    padding: 15px 20px;
    margin: 0px 20px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .contactbtn-txt {
    font-size: 2rem;
    letter-spacing: 0;
  }

  .contact-txts {
    font-size: 1.5rem;
    max-width: calc(100% - 20px);
    margin: 0 auto;
  }
}