.isara-merit {
  padding: 40px 0;
  text-align: center;
  background-color: #fef5e0;
}

.merit-title_box {
  margin: 0 auto;
  position: relative;
  width: 860px;
  padding: 15px 30px;
  line-height: 40px;
  font-size: 2.8rem;
  font-weight: 600;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-top: 4px solid $color-main;
    border-left: 4px solid $color-main;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-bottom: 4px solid $color-main;
    border-right: 4px solid $color-main;
  }
}

.merit-mini {
  font-size: 2.0rem;
  font-weight: 600;
}

.merit-container {
  width: 75%;
  margin-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: table;
  display: flex;
}

.merit-box {
  width: 33%;
  padding-left: 15px;
  padding-right: 15px;
}

.merit-image {
  background-size: cover;
  background-position: center;
  height: 180px;
}

.learnfromfreelancer {
  background-image: url(/image/background-image/learnfromfreelancer.jpg);
}

.learnfromprojects {
  background-image: url(/image/background-image/learnfromprojects.jpg);
}

.actuallyfree {
  background-image: url(/image/background-image/actuallyfree.jpg);
}

.yellow-title {
  color: $color-main;
  text-align: left;
  font-size: 2.0rem;
  font-weight: 700;
  margin: 8px 0;
}

.merit-txt {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 8px 0;
}

.merit-support {
  width: 75%;
  background-color: $color-txt;
  padding: 40px 20px;
  margin: 40px auto;
  border: 2px solid $color-main;
  border-radius: 5px;
}

.support-title {
  color: $color-main;
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.support-txt {
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.support-txts {
  font-size: 1.6rem;
  font-weight: 600;
}

.merit-bottom-txts {
  font-weight: 300;
  font-size: 1.4rem;
}

@include media(max,lg) {
  .isara-merit {
    padding: 30px 50px;
  }

  .merit-title_box {
    width: 85%;
    font-size: 2.4rem;
    font-weight: 600;
  }

  .merit-mini {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .merit-container {
    width: auto;
    margin: 0 auto;
    display: block;
  }

  .merit-box {
    width: auto;
    margin-bottom: 20px;
  }

  .learnfromfreelancer, .learnfromprojects, .actuallyfree {
    width: 300px;
    margin: 0 auto;
  }

  .merit-box__txt {
    padding: 0 20px;
  }

  .yellow-title {
    text-align: center;
    font-size: 1.6rem;
  }

  .merit-txt {
    font-size: 1.4rem;
  }

  .merit-support {
    width: 95%;
  }

  .support-title {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
  }

  .support-txt {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .support-txts {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .merit-bottom-txts {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0;
  }
}

@include media(max,sp) {
  .isara-merit {
    padding: 30px 0;
  }

  .merit-title_box {
    margin: 0 auto;
    position: relative;
    width: 95%;
    max-width: calc(100% - 20px);
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
    }
    &::after {
      content:"";
      position: absolute;
      width: 30px;
      height: 30px;
    }
  }

  .merit-mini {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px auto -15px;
    line-height: 1.4;
    display: inline-block;
  }


  .merit-container {
    margin-top: 20px;
    display: block;
    width: auto;
  }

  .merit-box {
    margin-bottom: 10px;
    width: 100%;
  }

  .learnfromfreelancer, .learnfromprojects, .actuallyfree {
    height: 120px;
    width: auto;
  }

  .merit-box__txt {
    padding: 0 20px;
  }

  .yellow-title {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5rem;
  }

  .merit-txt {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .merit-support {
    margin: 15px auto;
    padding: 10px;
    width: 95%;
  }

  .support-title {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .support-txt {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .support-txts {
    font-size: 1rem;
    letter-spacing: 0;
  }

  .merit-bottom-txts {
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0;
  }
}