.pagetop {
  position: fixed;
  right: 40px;
  bottom: 70px;
  color: #fff;
  background-color: #ececec;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  width: 75px;
  height: 75px;
  z-index: 1000;
  color: #333;

  a {
    display:inline-block;
    width: 100%;
    height: 100%;
    font-size: 40px;
    line-height: 75px;
  }
}

@include media(max, lg) {

}

@include media(max, sp) {
  .pagetop {
    width: 45px;
    height: 45px;
    right: 15px;
    bottom: 20px;
    a {
      display:inline-block;
      width: 100%;
      height: 100%;
      font-size: 20px;
      line-height: 47px;
    }
  }
}