.header {
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #FFFFFF;
  width: 100%;
}

.header .in-wrap {
  width: 1170px;
  max-width: calc(100%-20px);
  padding: 20px 0;
  position: relative;
  height: 75px;
}

.in-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo img {
  width: 128px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.subtitle {
  position: relative;
  bottom: -10px;
}

.subtitle p {
  font-weight: 600;
}

.txts {
  font-size: 14px;
  font-weight: 300;
}

.contactform-pc {
  background-color: #DB6B64;
  border-radius: 25px;
  color: #fff;
  padding: 11px 40px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 0;
}

.contactform-pc:hover {
  background-color: #C7264E;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.contactform-pc .txts {
  text-align: right;
}

.contactform-sp img {
  display: none;
}

.contactform-sp a {
  display: none;
}

.backimage {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.backimage-container {
  background-image: url(/image/background-image/index.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: table;
  width: 100%;
}

.backimage-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.backimage-text .txt {
  font-size: 2.8rem;
  font-weight: 600;
}

.backimage-text .backimage-logo {
  width: 317px;
  margin-bottom: 20px;
}

.txt-mini {
  font-size: 2.0rem;
  font-weight: 600;
}

.big-contact {
  background-color: #ebb94d;
  padding: 30px 0;
  text-align: center;
}

.big-contact-txt {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.big-contact-txt p {
  margin-bottom: 10px;
}

.big-contact-txt .free-place {
  background-color: #F9F2F4;
  color: #C7264E;
  font-size: 1.8rem;
  padding: 2px 4px;
}

.contactbtn {
  color: #fff;
  font-size: 2.0rem;
  margin: 45px auto;
  background-color: #DB6B64;
  padding: 30px 120px;
  border-radius: 50px;
  max-width: 1028px;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 600;
}

.contactbtn:hover {
  background-color: #C7264E;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.contact-txts {
  color: #fff;
  font-size: 2.1rem;
  font-weight: 600;
}

.contact-txts p {
  margin-bottom: 20px;
}

.sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sns-btn {
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  font-weight: 500;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 5px;
}

.sns-btn:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.fa-twitter {
  height: 14px;
  width: 14px;
  display: inline-block;
  margin-right: 4px;
}

.tw-btn {
  background-color: #1C95E0;
}

.tw-btn:hover {
  background-color: #09486e;
}

.good-btn {
  background-color: #1B77F2;
}

.good-btn:hover {
  background-color: #1051a5;
}

.share-btn {
  background-color: #1B77F2;
}

.share-btn:hover {
  background-color: #1051a5;
}

.free-life {
  background-image: url(/image/background-image/introbottom.jpg);
  background-size: cover;
  background-position: center;
  height: 587px;
  padding: 40px 0;
  text-align: center;
}

.free-life__title {
  width: 860px;
  font-size: 2.8rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 15px 0;
}

.free-life__title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

.free-life__title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

.free-life__title h2 {
  font-weight: 600;
}

.contents-txts {
  padding: 40px 0;
}

.first-txt {
  margin-bottom: 24px;
  font-size: 2.0rem;
  font-weight: 300;
}

.second-txt {
  margin-bottom: 24px;
  font-size: 2.0rem;
  font-weight: 300;
}

.third-txt {
  margin-bottom: 24px;
  font-size: 2.0rem;
  font-weight: 300;
}

.third-txt .power {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #ebb94d));
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.about {
  padding: 0 0 40px 0;
  background-color: #fef5e0;
  text-align: center;
}

.about-icon {
  position: relative;
  top: -40px;
}

.about-icon__cycle {
  background-color: #ebb94d;
  height: 80px;
  width: 80px;
  padding: 0;
  margin: 0;
  display: inline-block;
  line-height: 80px;
  color: #fff;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.about-intitle {
  width: 860px;
  position: relative;
  margin: 0 auto;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-intitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

.about-intitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

.about-tit__txt {
  font-size: 2.8rem;
  font-weight: 600;
}

.about-txt {
  font-weight: 600;
  font-size: 2.0rem;
  margin-top: 40px;
}

.about-box {
  margin: 30px auto;
  width: 1170px;
  padding: 30px;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}

.box-txt {
  font-weight: 600;
  font-size: 2.0rem;
}

.box {
  display: inline-block;
  padding: 10px;
}

.box img {
  width: auto;
  height: auto;
}

.inbox-txt {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 5px;
}

.pagetop {
  position: fixed;
  right: 40px;
  bottom: 70px;
  color: #fff;
  background-color: #ececec;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  width: 75px;
  height: 75px;
  z-index: 1000;
  color: #333;
}

.pagetop a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 40px;
  line-height: 75px;
}

.question-tlt {
  margin-bottom: 40px;
}

/*----outline-------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  letter-spacing: 1.5px;
  line-height: 1.6;
  color: #333;
  font-size: normal;
  font-weight: normal;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -webkit-transition: left ease-out 0.3s;
  transition: left ease-out 0.3s;
  left: 0;
}

img {
  width: 100%;
  height: auto;
}

.in-wrap {
  width: 100%;
  margin: 0 auto;
}

.isara-step {
  background-image: url(/image/background-image/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  text-align: center;
}

.step-title {
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.step-txts {
  margin-bottom: 10px;
  font-size: 2.0rem;
  font-weight: 600;
  color: #fff;
}

.step-txts span {
  color: #ebb94d;
}

.step-container {
  margin-top: 30px;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.step-box {
  background-color: #fff;
  padding: 30px 30px 20px;
  border-radius: 5px;
  width: 32%;
}

.box-title {
  text-transform: uppercase;
  background-color: #ebb94d;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

.step-ban__txt {
  margin: 30px 0 15px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #000000;
}

.step-txt {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}

.isara-important {
  background-color: #016ea9;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

.important-txt {
  font-size: 2.0rem;
  font-weight: 600;
}

.important-txt span {
  color: #ebb94d;
}

.isara-learn {
  text-align: center;
  padding: 40px 0;
}

.learn-title {
  margin-bottom: 35px;
  font-size: 2.8rem;
  font-weight: 600;
}

.learn-txt {
  font-weight: 300;
  font-size: 2.0rem;
  margin-bottom: 10px;
}

.learn-container {
  width: 860px;
  margin: 40px auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.learn-box {
  width: 25%;
}

.learn-box img {
  width: 180px;
}

.teach-txt {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.isara-merit {
  padding: 40px 0;
  text-align: center;
  background-color: #fef5e0;
}

.merit-title_box {
  margin: 0 auto;
  position: relative;
  width: 860px;
  padding: 15px 30px;
  line-height: 40px;
}

.merit-title_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

.merit-title_box::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

.merit-mitxt {
  font-size: 2.0rem;
  font-weight: 600;
}

.merit-lertxt {
  font-size: 2.8rem;
  font-weight: 600;
}

.merit-container {
  margin-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
  display: table;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.merit-box {
  width: 33%;
  padding-left: 15px;
  padding-right: 15px;
}

.merit-image {
  background-size: cover;
  background-position: center;
  height: 180px;
}

.learnfromfreelancer {
  background-image: url(/image/background-image/learnfromfreelancer.jpg);
}

.learnfromprojects {
  background-image: url(/image/background-image/learnfromprojects.jpg);
}

.actuallyfree {
  background-image: url(/image/background-image/actuallyfree.jpg);
}

.yellow-title {
  color: #ebb94d;
  text-align: left;
  font-size: 2.0rem;
  font-weight: 700;
  margin: 8px 0;
}

.merit-txt {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 8px 0;
}

.merit-support {
  width: 1170px;
  background-color: #fff;
  padding: 40px 20px;
  margin: 40px auto;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}

.support-title {
  color: #ebb94d;
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.support-txt {
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.support-txts {
  font-size: 1.6rem;
  font-weight: 600;
}

.merit-bottom-txts {
  font-weight: 300;
  font-size: 1.4rem;
}

.isara-member {
  padding: 40px 0;
  background-image: url(/image/background-image/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.member-title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.member-txt {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.member-container {
  max-width: 780px;
  margin: 0 auto;
}

.member-row {
  margin-right: -15px;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.member-box {
  width: 50%;
  padding: 0 15px;
}

.member-image {
  position: relative;
  bottom: -35px;
  border-radius: 50%;
  width: 198px;
  height: 198px;
}

.txt-box {
  border: 3px solid #fff;
  padding: 40px;
}

.member-box__txt {
  font-weight: 300;
  margin-bottom: 10px;
}

.in-txt {
  text-align: left;
}

.isara-really {
  position: relative;
  background-color: #ebb94d;
  padding: 40px 0;
  text-align: center;
  color: #fff;
}

.isara-really::after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border: 25px solid transparent;
  border-top-color: #ebb94d;
  top: 100%;
  left: 50%;
  margin-left: -25px;
}

.circle2 {
  background-color: #fff;
  color: #ebb94d;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}

.really-txt {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0 auto;
  width: 860px;
  padding: 15px 30px;
  position: relative;
}

.really-txt::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
}

.really-txt::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
}

.isara-answer {
  text-align: center;
  padding: 40px 0;
}

.answer-title {
  font-size: 2.8rem;
  font-weight: 600;
}

.answer-txt {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.answer-txts {
  margin-bottom: 10px;
}

.answer-container {
  width: 1170px;
  margin: 0 auto;
}

.answer-row {
  padding: 0 15px;
}

.clint-voice {
  width: 66.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1.8rem;
  text-align: left;
  font-style: italic;
  color: #777;
}

.clint-image {
  border: solid;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-color: #ebb94d;
  width: 33.3%;
}

.clint-txt__box {
  padding-left: 15px;
}

.clint-txt {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.8rem;
  text-align: left;
  font-style: italic;
  color: #777;
}

.clint-name {
  font-size: 1.5rem;
  font-style: italic;
  display: inline-block;
  margin-top: 8px;
  text-decoration: underline;
  margin-bottom: 10px;
}

.learning {
  color: #fff;
  background-image: url(/image/background-image/classbg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px 0;
}

.learning-title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 40px;
}

.learning-txt {
  font-size: 1.6rem;
  font-weight: 600;
}

.class-box {
  padding: 40px 0;
  max-width: 780px;
  margin: 0 auto;
}

.class-box-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.class-list {
  width: 50%;
  padding: 15px;
}

.class-list__wrap {
  background-color: #fff;
  border: 2px solid #016ea9;
  border-radius: 5px;
}

.class-title {
  background-color: #016ea9;
  padding: 15px;
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.class-txt__list {
  font-size: 1.6rem;
  font-weight: 600;
}

.class-txt__list li {
  color: #000000;
  padding: 10px;
  border-bottom: 1px dotted #e5e5e5;
}

.learning-bottom {
  background-color: #016ea9;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

.learning-bottom__txt {
  font-size: 2.0rem;
  font-weight: 600;
}

.isara-flow {
  text-align: center;
  padding: 40px 0;
}

.flow-title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 40px;
}

.flowimg {
  max-width: 100%;
  width: 1000px;
  height: 182px;
  margin: 40px auto;
}

.flow-box {
  width: 1170px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 35px;
  background-color: #fef5e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flowline {
  margin: 0 auto;
  width: auto;
  height: auto;
}

.flow-left {
  padding: 20px;
  width: 200px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.flow-left img {
  height: auto;
  width: auto;
}

.flow-txt {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 600;
}

.flow-right {
  text-align: left;
}

.flow-right__txt {
  margin: 20px 0;
  font-size: 1.6rem;
  font-weight: 600;
}

.flow-right__txts {
  font-size: 1.4rem;
}

.bangkok {
  background-image: url(/image/background-image/bangkokbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px;
  color: #fff;
}

.bangkok-box {
  width: 1170px;
  margin: 0 auto;
}

.bangkok-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.bangkok-list {
  margin: 20px 0;
}

.bangkok-txt {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.bangkok-txts {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.bangkok-txtt {
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.special {
  background-color: #ebb94d;
  padding: 40px 0;
  text-align: center;
}

.special-title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 40px;
}

.special-txt {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.special-txt__white {
  color: #fff;
}

.special-people {
  background-color: #ebb94d;
  margin: 0 auto;
  width: 45%;
  position: relative;
  bottom: -60px;
}

.special-people__txt {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.special-box {
  border: 2px solid #fff;
  margin-top: 40px;
  padding: 40px;
  width: 1170px;
  margin: 40px auto;
  margin-bottom: 0;
}

.specialpc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circlebox {
  width: 33%;
  margin: 0 auto;
}

.tokuten-circle {
  width: 250px;
  height: 250px;
  background-color: #fff;
  margin: 10px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
}

.tokuten-box {
  height: 250px;
  padding: 15px;
  display: table-cell;
  vertical-align: middle;
}

.tokuten-title {
  color: #ebb94d;
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.tokuten-txt {
  font-size: 1.4rem;
  font-weight: 600;
}

.datail {
  background-image: url(/image/background-image/specialdetail.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 40px 0;
}

.datail-txt {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 20px 0;
}

.datail-txts {
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.datail-title {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 20px auto;
  position: relative;
  width: 860px;
  padding: 15px 30px;
}

.datail-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  width: 50px;
  height: 50px;
}

.datail-title:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
}

.datail-txtss {
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.message {
  text-align: center;
  padding: 40px 0;
}

.message-title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 35px;
}

.message-txt {
  font-size: 2.0rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.message-container {
  max-width: 1028px;
  width: 860px;
  margin: 40px auto;
}

.message-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-image {
  width: 25%;
}

.message-image img {
  width: 180px;
  height: auto;
}

.message-box {
  text-align: left;
  width: 75%;
  padding: 0 15px;
}

.message-box p {
  margin-bottom: 10px;
}

.message-txts {
  font-size: 1.4rem;
}

.tiping-form {
  background-color: #ebb94d;
  text-align: center;
  padding: 40px 20%;
}

.form-title {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 20px 0;
}

.form-txt {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

input {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  border: none;
}

input:nth-child(5) {
  width: 99%;
}

textarea {
  height: 100px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 25px;
  width: 100%;
}

.form-submit__botton .pink-botton {
  display: block;
  background-color: #da6b64;
  color: #fff;
  padding: 15px 80px;
  border-radius: 50px;
  font-size: 2.3rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 6.5px;
}

.form-submit__botton .pink-botton:hover {
  background-color: #ee564b;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.footer-wrap {
  position: relative;
  padding: 40px 15px 20px 15px;
  background-color: #ececec;
  text-align: center;
}

.copyright {
  font-size: 1.0rem;
  font-weight: 300;
  padding-bottom: 5px;
}

.copyright a {
  color: #337ab7;
  text-decoration: none;
}

.sns-list_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.sns-btn_f {
  color: #fff;
  border-radius: 3px;
  padding: 1px 8px 1px 6px;
  cursor: pointer;
  font-weight: 500;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 5px;
}

.sns-btn_f:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.fa-twitter {
  height: 14px;
  width: 14px;
  display: inline-block;
  margin-right: 4px;
}

.tw-btn {
  background-color: #1C95E0;
}

.tw-btn:hover {
  background-color: #09486e;
}

.good-btn {
  background-color: #1B77F2;
}

.good-btn:hover {
  background-color: #1051a5;
}

.share-btn {
  background-color: #1B77F2;
}

.share-btn:hover {
  background-color: #1051a5;
}
/*# sourceMappingURL=style.css.map */