.header {
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #FFFFFF;
  width: 100%;
}

.in-wrap {
  width: 1170px;
  max-width: calc(100% - 20px);
  padding: 20px 0;
  position: relative;
  height: 75px;
}

.header__logo {
  margin-top: -9px;
  display: inline-block;
}

.header__logo img {
  width: 128px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.subtitle {
  display: inline-block;
  position: relative;
  bottom: 9px;
}

.subtitle p {
  font-weight: 600;
  font-size: 14px;
}

.contactform-pc {
  background-color: #DB6B64;
  border-radius: 25px;
  color: #fff;
  padding: 11px 40px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 0;
}

.contactform-pc:hover {
  background-color: #C7264E;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.contactform-pc .txts {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 300;
}

.contactform-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .in-wrap {
    max-width: 100%;
    position: relative;
    height: 62px;
    padding: 0;
  }
  .header__logo {
    position: absolute;
    top: 25px;
    left: 10px;
    margin-top: 0;
  }
  .header__logo img {
    width: 90px;
  }
  .subtitle {
    position: relative;
    top: 8px;
    left: 10px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0px;
  }
  .subtitle p {
    font-size: 1rem;
  }
  .contactform-pc {
    display: none;
  }
  .contactform-sp {
    display: block;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #da6b64;
    padding: 13px 11px;
  }
  .contactform-sp img {
    width: 20px;
    margin: auto;
    display: block;
  }
  .contactform-sp a {
    color: #fff;
    font-size: 1.2rem;
    margin: auto;
    display: block;
  }
}

.backimage {
  padding-top: 75px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: table;
}

.backimage-row {
  margin-left: -15px;
  margin-right: -15px;
}

.backimage-container {
  background-image: url(/image/background-image/index.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  display: table;
}

.backimage-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.backimage-text .txt {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.backimage-text .backimage-logo {
  width: 317px;
  margin-bottom: 20px;
}

.txt-mini {
  font-size: 2.0rem;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .backimage {
    max-width: 920px;
    width: 100%;
    padding-top: 60px;
  }
  .backimage-container {
    background-image: url(/image/background-image/mainsp.jpg);
    height: 312px;
  }
  .backimage-text .txt {
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .backimage-text .txt-mini {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.big-contact {
  background-color: #ebb94d;
  padding: 30px 0;
  text-align: center;
}

.big-contact-txt {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.big-contact-txt p {
  margin-bottom: 10px;
}

.big-contact-txt .free-place {
  background-color: #F9F2F4;
  color: #C7264E;
  font-size: 90%;
  padding: 2px 4px;
}

.contactbtn {
  color: #fff;
  font-size: 2.0rem;
  margin: 45px auto;
  background-color: #DB6B64;
  padding: 30px 120px;
  border-radius: 50px;
  max-width: 1028px;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 600;
}

.contactbtn:hover {
  background-color: #C7264E;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.contactbtn {
  margin-bottom: 10px;
}

.contact-txts {
  color: #fff;
  font-size: 2.1rem;
  font-weight: 600;
}

.contact-txts p {
  margin-bottom: 20px;
}

.sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  .big-contact-txt {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 5px;
  }
  .contactbtn {
    padding: 25px 50px;
    margin: 10px 80px;
  }
  .contactbtn-txt {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 767px) {
  .big-content {
    padding: 15 0px;
  }
  .big-contact-txt {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .contactbtn {
    padding: 15px 20px;
    margin: 0px 20px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .contactbtn-txt {
    font-size: 2rem;
    letter-spacing: 0;
  }
  .contact-txts {
    font-size: 1.5rem;
    max-width: calc(100% - 20px);
    margin: 0 auto;
  }
}

.free-life {
  background-image: url(/image/background-image/introbottom.jpg);
  background-size: cover;
  background-position: center;
  height: 587px;
  padding: 40px 0;
  text-align: center;
}

.free-life__title {
  width: 860px;
  font-size: 2.8rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 15px 0;
}

.free-life__title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

.free-life__title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

.free-life__title h2 {
  font-weight: 600;
}

.br-free {
  display: none;
}

.contents-txts {
  padding: 40px 0;
}

.first-txt {
  margin-bottom: 24px;
  font-size: 2.0rem;
  font-weight: 300;
}

.second-txt {
  margin-bottom: 24px;
  font-size: 2.0rem;
  font-weight: 300;
}

.third-txt {
  margin-bottom: 24px;
  font-size: 2.0rem;
  font-weight: 300;
}

.third-txt .power {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #ebb94d));
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

@media screen and (max-width: 1024px) {
  .free-life__title {
    font-size: 2.4rem;
    font-weight: 600;
    width: 95%;
  }
  .first-txt {
    font-size: 1.6rem;
    font-weight: 300;
  }
  .second-txt {
    font-size: 1.6rem;
    font-weight: 300;
  }
  .third-txt {
    font-size: 1.6rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 767px) {
  .free-life {
    padding: 30px 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }
  .free-life__title {
    width: 95%;
    padding: 5px 20px;
    margin: 0 auto;
    position: relative;
  }
  .free-life__title::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .free-life__title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .free-life__title h2 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 40px;
  }
  .contents-txts {
    letter-spacing: 0;
    padding: 25px 0;
  }
  .first-txt {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .second-txt {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .third-txt {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 30px;
  }
}

.about {
  padding: 0 0 40px 0;
  background-color: #fef5e0;
  text-align: center;
}

.about-icon {
  position: relative;
  top: -40px;
}

.about-icon__cycle {
  background-color: #ebb94d;
  height: 80px;
  width: 80px;
  padding: 0;
  margin: 0;
  display: inline-block;
  line-height: 80px;
  color: #fff;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.about-intitle {
  width: 860px;
  position: relative;
  margin: 0 auto;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-intitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

.about-intitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

.about-tit__txt {
  font-size: 2.8rem;
  font-weight: 600;
}

.about-txt {
  font-weight: 600;
  font-size: 2.0rem;
  margin-top: 40px;
}

.about-box {
  margin: 30px auto;
  max-width: calc(100% - 40px);
  width: 1170px;
  padding: 30px;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}

.box-txt {
  font-weight: 600;
  font-size: 2.0rem;
}

.box {
  display: inline-block;
  padding: 10px;
}

.inbox-txt {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 5px;
}

@media screen and (max-width: 1024px) {
  .about-icon__cycle {
    font-size: 1.4rem;
  }
  .about-intitle {
    margin: 0 auto;
    position: relative;
    padding: 10px;
  }
  .about-intitle {
    width: 95%;
  }
  .about-tit__txt {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .about-txt {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .about-box {
    width: 95%;
  }
  .box-txt {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 767px) {
  .about-icon {
    top: -30px;
  }
  .about-icon__cycle {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 1.2rem;
  }
  .about-intitle {
    width: 95%;
    margin: 0 auto;
    position: relative;
    padding: 10px;
  }
  .about-intitle::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .about-intitle::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .about-tit__txt {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .about-txt {
    font-size: 1.5rem;
    margin-top: 15px;
    font-weight: 600;
  }
  .about-box {
    padding: 10px;
    width: 95%;
  }
  .box-txt {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .box {
    padding: 5px;
  }
  .box img {
    height: 30px;
  }
  .inbox-txt {
    font-size: 1rem;
  }
}

.pagetop {
  position: fixed;
  right: 40px;
  bottom: 70px;
  color: #fff;
  background-color: #ececec;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  width: 75px;
  height: 75px;
  z-index: 1000;
  color: #333;
}

.pagetop a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 40px;
  line-height: 75px;
}

@media screen and (max-width: 767px) {
  .pagetop {
    width: 45px;
    height: 45px;
    right: 15px;
    bottom: 20px;
  }
  .pagetop a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 47px;
  }
}

.question {
  text-align: center;
  padding: 40px 10%;
}

.question-tlt {
  margin-bottom: 40px;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 40px;
}

.question-list {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  text-align: left;
}

.accodion {
  margin-bottom: 20px;
}

.accodion-panel {
  border-color: #ddd;
  border: 1px solid #e5e5e5;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 5px;
}

.question-voice {
  padding: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #e5e5e5;
  position: relative;
}

.question-voice::after {
  content: '';
  position: absolute;
  right: 25px;
  top: 38%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 14px;
  height: 14px;
  border-top: solid 5px #E5E5E5;
  border-right: solid 5px #E5E5E5;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 45%;
}

.question-voice_tlt {
  font-size: 2.0rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.1;
}

.question-voice_tlt .fa-question-circle-o {
  color: #026EA8;
  position: relative;
  left: 6px;
}

.question-voice_tlt a {
  cursor: pointer;
  display: block;
}

.question-answer {
  display: none;
  background-color: #fff;
  padding: 20px;
}

.ques-txt {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .question {
    padding: 40px;
  }
  .question-tlt {
    font-size: 2.4rem;
  }
  .question-voice_tlt {
    font-size: 1.6rem;
  }
  .ques-txt {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .question {
    padding: 20px 15px;
  }
  .question-tlt {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 40px;
  }
  .question-list {
    max-width: 100%;
  }
  .accodion-panel {
    border: none;
  }
  .question-voice {
    padding: 10px;
  }
  .question-voice::after {
    content: "";
    position: absolute;
    right: 11px;
    width: 11px;
    height: 11px;
    border-top: solid 4px #E5E5E5;
    border-right: solid 4px #E5E5E5;
  }
  .question-voice_tlt {
    width: calc(100% - 20px);
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .question-voice_tlt::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20px;
    margin: auto 0;
    height: 16px;
  }
  .ques-txt {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.isara-step {
  background-image: url(/image/background-image/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  text-align: center;
}

.step-title {
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
  margin: 20px 0;
}

.step-txts {
  margin-bottom: 10px;
  font-size: 2.0rem;
  font-weight: 600;
  color: #fff;
}

.step-txts span {
  color: #ebb94d;
}

.step-container {
  width: 70%;
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.step-box {
  background-color: #fff;
  padding: 30px 30px 20px;
  border-radius: 5px;
  width: 32%;
}

.box-title {
  text-transform: uppercase;
  background-color: #ebb94d;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

.step-ban__txt {
  margin: 30px 0 15px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #000000;
}

.step-txt {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .step-title {
    line-height: 3rem;
    font-size: 2.4rem;
    font-weight: 600;
  }
  .step-txts {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .step-container {
    padding: 0 20%;
    display: block;
    width: auto;
  }
  .step-box {
    width: 60%;
    margin: 0 20% 20px;
  }
  .box-title {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .step-ban__txt {
    font-size: 1.2rem;
    letter-spacing: 0;
  }
  .step-txt {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .isara-step {
    background-image: url(/image/background-image/aboutsecondbgsp.jpg);
    padding: 30px;
  }
  .step-title {
    line-height: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .step-txts {
    font-size: 1.3rem;
    letter-spacing: 0;
  }
  .step-container {
    display: block;
    width: auto;
  }
  .step-box {
    width: 100%;
    margin: 0 auto 15px;
    padding: 15px 50px;
  }
  .box-title {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .step-ban__txt {
    margin: 15px 0 5px;
    font-size: 1.2rem;
  }
  .step-txt {
    margin: 0;
    font-size: 1.2rem;
  }
}

.isara-important {
  background-color: #016ea9;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

.important-txt {
  font-size: 2.0rem;
  font-weight: 600;
}

.important-txt span {
  color: #ebb94d;
}

@media screen and (max-width: 1024px) {
  .important-txt {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 767px) {
  .isara-important {
    padding: 20px 0;
  }
  .important-txt {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.isara-learn {
  text-align: center;
  padding: 40px 0;
}

.learn-title {
  margin-bottom: 35px;
  font-size: 2.8rem;
  font-weight: 600;
}

.learn-txt {
  font-weight: 300;
  font-size: 2.0rem;
  margin-bottom: 10px;
}

.learn-container {
  width: 860px;
  max-width: calc(100% - 40px);
  margin: 40px auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.learn-box {
  width: 25%;
}

.learn-box img {
  width: 180px;
}

.teach-txt {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .learn-title {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .learn-txt {
    font-size: 1.6rem;
  }
  .teach-txt {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 767px) {
  .isara-learn {
    padding: 20px 0;
  }
  .learn-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 20px;
    line-height: 40px;
  }
  .learn-txt {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .learn-container {
    width: auto;
    padding: 0 50px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .learn-box {
    padding: 5px;
  }
  .learn-box img {
    width: 100%;
  }
  .teach-txt {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.isara-merit {
  padding: 40px 0;
  text-align: center;
  background-color: #fef5e0;
}

.merit-title_box {
  margin: 0 auto;
  position: relative;
  width: 860px;
  padding: 15px 30px;
  line-height: 40px;
  font-size: 2.8rem;
  font-weight: 600;
}

.merit-title_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

.merit-title_box::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

.merit-mini {
  font-size: 2.0rem;
  font-weight: 600;
}

.merit-container {
  width: 75%;
  margin-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: table;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.merit-box {
  width: 33%;
  padding-left: 15px;
  padding-right: 15px;
}

.merit-image {
  background-size: cover;
  background-position: center;
  height: 180px;
}

.learnfromfreelancer {
  background-image: url(/image/background-image/learnfromfreelancer.jpg);
}

.learnfromprojects {
  background-image: url(/image/background-image/learnfromprojects.jpg);
}

.actuallyfree {
  background-image: url(/image/background-image/actuallyfree.jpg);
}

.yellow-title {
  color: #ebb94d;
  text-align: left;
  font-size: 2.0rem;
  font-weight: 700;
  margin: 8px 0;
}

.merit-txt {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 8px 0;
}

.merit-support {
  width: 75%;
  background-color: #fff;
  padding: 40px 20px;
  margin: 40px auto;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}

.support-title {
  color: #ebb94d;
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.support-txt {
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.support-txts {
  font-size: 1.6rem;
  font-weight: 600;
}

.merit-bottom-txts {
  font-weight: 300;
  font-size: 1.4rem;
}

@media screen and (max-width: 1024px) {
  .isara-merit {
    padding: 30px 50px;
  }
  .merit-title_box {
    width: 85%;
    font-size: 2.4rem;
    font-weight: 600;
  }
  .merit-mini {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .merit-container {
    width: auto;
    margin: 0 auto;
    display: block;
  }
  .merit-box {
    width: auto;
    margin-bottom: 20px;
  }
  .learnfromfreelancer, .learnfromprojects, .actuallyfree {
    width: 300px;
    margin: 0 auto;
  }
  .merit-box__txt {
    padding: 0 20px;
  }
  .yellow-title {
    text-align: center;
    font-size: 1.6rem;
  }
  .merit-txt {
    font-size: 1.4rem;
  }
  .merit-support {
    width: 95%;
  }
  .support-title {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
  }
  .support-txt {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .support-txts {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .merit-bottom-txts {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 767px) {
  .isara-merit {
    padding: 30px 0;
  }
  .merit-title_box {
    margin: 0 auto;
    position: relative;
    width: 95%;
    max-width: calc(100% - 20px);
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .merit-title_box::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .merit-title_box::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .merit-mini {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px auto -15px;
    line-height: 1.4;
    display: inline-block;
  }
  .merit-container {
    margin-top: 20px;
    display: block;
    width: auto;
  }
  .merit-box {
    margin-bottom: 10px;
    width: 100%;
  }
  .learnfromfreelancer, .learnfromprojects, .actuallyfree {
    height: 120px;
    width: auto;
  }
  .merit-box__txt {
    padding: 0 20px;
  }
  .yellow-title {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5rem;
  }
  .merit-txt {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .merit-support {
    margin: 15px auto;
    padding: 10px;
    width: 95%;
  }
  .support-title {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .support-txt {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .support-txts {
    font-size: 1rem;
    letter-spacing: 0;
  }
  .merit-bottom-txts {
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0;
  }
}

.isara-member {
  padding: 40px 0;
  background-image: url(/image/background-image/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.member-title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.member-txt {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.member-container {
  max-width: 780px;
  margin: 0 auto;
}

.member-row {
  margin-right: -15px;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.member-box {
  width: 50%;
  padding: 0 15px;
}

.member-image {
  position: relative;
  bottom: -35px;
  border-radius: 50%;
}

.txt-box {
  border: 3px solid #fff;
  padding: 40px;
}

.in-txt {
  text-align: left;
}

.member-box__txt {
  font-weight: 300;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .isara-member {
    padding: 50px;
  }
  .member-title {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .member-txt {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .member-container {
    width: auto;
  }
  .member-box__txt {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .isara-member {
    padding: 20px 0;
    background-image: url(/image/background-image/teacherbgsp.jpg);
  }
  .member-title {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .member-txt {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .member-container {
    padding: 0 10px;
  }
  .member-row {
    display: block;
  }
  .member-box {
    width: 100%;
  }
  .member-image {
    width: 120px;
  }
  .txt-box {
    padding: 40px 10px 10px 10px;
    height: auto;
  }
  .member-box__txt {
    font-size: 1.2rem;
  }
}

.isara-really {
  position: relative;
  background-color: #ebb94d;
  padding: 40px 0;
  text-align: center;
  color: #fff;
}

.isara-really::after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border: 25px solid transparent;
  border-top-color: #ebb94d;
  top: 100%;
  left: 50%;
  margin-left: -25px;
}

.circle2 {
  background-color: #fff;
  color: #ebb94d;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}

.really-txt {
  line-height: 40px;
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0 auto;
  width: 860px;
  padding: 15px 30px;
  position: relative;
}

.really-txt::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
}

.really-txt::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
}

@media screen and (max-width: 1024px) {
  .circle2 {
    font-size: 2rem;
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
  .really-txt {
    font-size: 1.8rem;
    font-weight: 600;
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .isara-really {
    padding: 20px 0;
  }
  .isara-really::after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 15px solid transparent;
    border-top-color: #ebb94d;
    top: 100%;
    left: 50%;
    margin-left: -15px;
  }
  .qa-icon {
    margin-bottom: 10px;
  }
  .circle2 {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 1.2rem;
  }
  .really-txt {
    font-size: 1.4rem;
    margin: 0 auto;
    position: relative;
    width: 95%;
    max-width: calc(100% - 20px);
    padding: 10px;
  }
  .really-txt::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .really-txt::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
  }
}

.isara-answer {
  text-align: center;
  padding: 40px 0;
}

.answer-title {
  font-size: 2.8rem;
  font-weight: 600;
}

.answer-txt {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.answer-txts {
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 300;
}

.answer-container {
  margin: 0 auto;
}

.answer-row {
  padding: 0 15px;
}

.clint-voice {
  width: 45%;
  max-width: calc(100% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1.8rem;
  text-align: left;
  color: #777;
}

.clint-image {
  margin-right: 15px;
  border: solid;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-color: #ebb94d;
  width: 33.3%;
}

.clint-image img {
  max-width: 100%;
  display: block;
}

.clint-txt__box {
  width: 66.6%;
  padding-left: 15px;
}

.clint-txt {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.8rem;
  text-align: left;
  font-style: italic;
  color: #777;
}

.clint-name {
  font-size: 1.5rem;
  font-style: italic;
  display: inline-block;
  margin-top: 8px;
  text-decoration: underline;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .clint-voice {
    width: 66.6%;
  }
}

@media screen and (max-width: 767px) {
  .isara-answer {
    padding: 20px 0;
  }
  .answer-title {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .answer-txt {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .answer-txts {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0;
  }
  .answer-container {
    width: auto;
  }
  .answer-row {
    width: auto;
  }
  .clint-voice {
    width: auto;
    max-width: calc(100% - 20px);
    margin: 0 auto;
  }
  .clint-txt__box {
    padding-left: 0;
  }
}

.learning {
  color: #fff;
  background-image: url(/image/background-image/classbg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px 0;
}

.learning-title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 40px;
}

.learning-txt {
  font-size: 1.6rem;
  font-weight: 600;
}

.class-box {
  padding: 40px 0;
  max-width: 780px;
  margin: 0 auto;
}

.class-box-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.class-list {
  width: 50%;
  padding: 15px;
}

.class-list__wrap {
  background-color: #fff;
  border: 2px solid #016ea9;
  border-radius: 5px;
}

.class-title {
  background-color: #016ea9;
  padding: 15px;
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.class-txt__list {
  font-size: 1.6rem;
  font-weight: 600;
}

.class-txt__list li {
  color: #000000;
  padding: 10px;
  border-bottom: 1px dotted #e5e5e5;
}

@media screen and (max-width: 1024px) {
  .learning-title {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .learning-txt {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .class-box {
    width: auto;
    padding: 30px 10px;
  }
  .class-box-row {
    display: block;
  }
  .class-list {
    margin-top: 15px;
    width: 100%;
  }
  .class-title {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .class-txt__list {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 767px) {
  .learning {
    background-image: url(/image/background-image/classbgsp.jpg);
    padding: 20px 0;
  }
  .learning-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .learning-txt {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .class-box {
    padding: 20px 10px;
    width: auto;
  }
  .class-box-row {
    display: block;
  }
  .class-list {
    width: 100%;
  }
  .class-title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .class-txt__list {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.learning-bottom {
  background-color: #016ea9;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

.learning-bottom__txt {
  font-size: 2.0rem;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .learning-bottom__txt {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 767px) {
  .learning-bottom {
    padding: 20px 0;
  }
  .learning-bottom__txt {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.isara-flow {
  text-align: center;
  padding: 40px 0;
}

.flow-title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 40px;
}

.flowimg {
  max-width: 100%;
  height: auto;
  margin: 40px auto;
}

.flow-box {
  width: 1170px;
  max-width: calc(100% - 40px);
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 35px;
  background-color: #fef5e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flowline {
  margin: 0 auto;
  width: auto;
  height: auto;
}

.flow-left {
  padding: 20px;
  width: 200px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.flow-left img {
  height: auto;
  width: auto;
}

.flow-txt {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 600;
}

.flow-right {
  text-align: left;
}

.flow-right__txt {
  margin: 20px 0;
  font-size: 1.6rem;
  font-weight: 600;
}

.flow-right__txts {
  font-size: 1.4rem;
}

@media screen and (max-width: 1024px) {
  .isara-flow {
    padding: 20px 40px;
  }
  .flow-title {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .flow-right__txt {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .flow-right__txts {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0;
  }
  .flowline {
    max-width: calc(100% - 300px);
  }
}

@media screen and (max-width: 767px) {
  .isara-flow {
    padding: 20px 0;
  }
  .flow-title {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .flow-containersp {
    padding: 20px 15px;
    text-align: left;
  }
  .flow-containersp img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
  .panel-group {
    margin-bottom: 20px;
  }
  .panel {
    border: none;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  .panel-heading {
    background-color: #fef5e0;
    cursor: pointer;
    color: #000;
    border: none;
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .panel-heading.open .panel-tit::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 45%;
  }
  .panel-tit {
    color: inherit;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }
  .panel-tit::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 38%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 11px;
    height: 11px;
    border-top: solid 4.5px #000;
    border-right: solid 4.5px #000;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .panel-txt {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
  }
  .panel-txt:hover {
    text-decoration: underline;
  }
  .panel-body {
    border: none;
    background-color: #fef5e0;
    padding: 15px;
  }
  .paneltxts {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .paneltxtss {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 10px;
  }
}

.bangkok {
  background-image: url(/image/background-image/bangkokbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px;
  color: #fff;
}

.bangkok-box {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

.bangkok-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 40px;
  letter-spacing: 3px;
}

.bangkok-list {
  margin: 20px 0;
}

.bangkok-txt {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.bangkok-txts {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.bangkok-txtt {
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .bangkok {
    padding: 40px;
  }
  .bangkok-txt {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0;
  }
  .bangkok-txts {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .bangkok-txtt {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .bangkok {
    background-image: url(/image/background-image/bangkokbgsp.jpg);
    padding: 20px 15px;
  }
  .bangkok-title {
    text-align: center;
    font-weight: 600;
  }
  .bangkok-txt {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0;
  }
  .bangkok-txts {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .bangkok-txtt {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.special {
  background-color: #ebb94d;
  padding: 40px 0;
  text-align: center;
}

.special-title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 40px;
}

.special-txt {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.special-txt__white {
  color: #fff;
}

.special-people {
  background-color: #ebb94d;
  margin: 0 auto;
  width: 45%;
  position: relative;
  bottom: -60px;
}

.special-people__txt {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.special-box {
  width: 75%;
  border: 2px solid #fff;
  margin-top: 40px;
  padding: 40px;
  margin: 40px auto;
  margin-bottom: 0;
}

.specialpc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circlebox {
  width: 33%;
  margin: 0 auto;
}

.tokuten-circle {
  width: 250px;
  height: 250px;
  background-color: #fff;
  margin: 10px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
}

.tokuten-box {
  height: 250px;
  padding: 15px;
  display: table-cell;
  vertical-align: middle;
}

.tokuten-title {
  color: #ebb94d;
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.tokuten-txt {
  font-size: 1.4rem;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .special {
    padding: 40px;
  }
  .special-title {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .special-txt {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .special-people {
    width: 400px;
    bottom: -76px;
  }
  .special-people__txt {
    font-size: 2.4rem;
  }
  .special-box {
    width: auto;
  }
  .specialpc {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .special {
    background-position: center calc(100% + 9px);
    background-size: 175px auto;
    padding: 20px 0;
  }
  .special-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .special-txt {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .special-people {
    bottom: -37px;
    width: 250px;
  }
  .special-people__txt {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .special-box {
    color: #fff;
    padding: 30px;
    margin: 0 15px;
    width: auto;
  }
  .specialpc {
    display: none;
  }
  .specialspbox {
    margin: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .specialsp-left {
    width: 30%;
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .specialsp-circle {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ebb94d;
    background-color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
  }
  .specialsp-right {
    padding: 12px 0;
    text-align: left;
  }
  .specialsp-txt {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.datail {
  background-image: url(/image/background-image/specialdetail.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 40px 0;
}

.datail-txt {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 20px 0;
}

.datail-txts {
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.datail-title {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 20px auto;
  position: relative;
  width: 860px;
  padding: 15px 30px;
  line-height: 40px;
}

.datail-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  width: 50px;
  height: 50px;
}

.datail-title:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
}

.datail-txtss {
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .datail {
    padding: 40px;
  }
  .datail-txt {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .datail-txts {
    font-size: 1.6rem;
  }
  .datail-title {
    font-size: 2.4rem;
    font-weight: 600;
    width: 95%;
  }
  .datail-txtss {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .datail {
    background-image: url(/image/background-image/specialdetailsp.jpg);
    padding: 20px 10px;
  }
  .datail-txt {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .datail-txts {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .datail-title {
    margin: 0 auto;
    position: relative;
    width: 95%;
    max-width: calc(100% - 20px);
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 40px;
  }
  .datail-title::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .datail-title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .datail-txtss {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 600;
  }
}

.message {
  text-align: center;
  padding: 40px 0;
}

.message-title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 35px;
  line-height: 40px;
}

.message-txt {
  font-size: 2.0rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.message-container {
  max-width: 1028px;
  width: 860px;
  margin: 40px auto;
}

.message-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-image {
  width: 25%;
}

.message-image img {
  width: 180px;
  height: auto;
}

.message-box {
  text-align: left;
  width: 75%;
  padding: 0 15px;
}

.message-box p {
  margin-bottom: 10px;
}

.message-txts {
  font-size: 1.4rem;
}

@media screen and (max-width: 1024px) {
  .message-title {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .message-txt {
    font-size: 1.6rem;
  }
  .message-container {
    max-width: calc(100% - 40px);
  }
  .message-row {
    display: block;
  }
  .message-image {
    padding: 20px;
    width: auto;
  }
  .message-image img {
    width: 100%;
  }
  .message-box {
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .message {
    padding: 20px 0;
  }
  .message-title {
    line-height: 40px;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .message-txt {
    font-size: 1.5rem;
  }
  .message-container {
    max-width: calc(100% - 20px);
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .message-row {
    margin: 0;
    display: block;
  }
  .message-image {
    width: auto;
    padding: 5px;
  }
  .message-image img {
    width: 100%;
  }
  .message-txts {
    text-align: left;
    padding: 5px;
  }
  .message-box {
    width: auto;
    padding: 0;
  }
}

.tiping-form {
  background-color: #ebb94d;
  text-align: center;
  padding: 40px 20%;
}

.form-title {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 20px 0;
}

.form-txt {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

input {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  border: none;
}

input:nth-child(5) {
  width: 99%;
}

textarea {
  height: 100px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 25px;
  width: 100%;
}

.form-submit__botton .pink-botton {
  display: block;
  background-color: #da6b64;
  color: #fff;
  padding: 15px 80px;
  border-radius: 50px;
  font-size: 2.3rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 6.5px;
}

.form-submit__botton .pink-botton:hover {
  background-color: #ee564b;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

@media screen and (max-width: 1024px) {
  .tiping-form {
    padding: 40px 15%;
  }
  .form-title {
    font-size: 2.4rem;
  }
  .font-txt {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 767px) {
  .tiping-form {
    padding: 20px 15px;
  }
  .form-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 40px;
  }
  .form-txt {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.footer-wrap {
  position: relative;
  padding: 40px 15px 20px 15px;
  background-color: #ececec;
  text-align: center;
}

.copyright {
  font-size: 1.0rem;
  font-weight: 300;
  padding-bottom: 5px;
}

.copyright a {
  color: #337ab7;
  text-decoration: none;
}

.sns-list_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.twitter-share-button {
  margin-right: 3px;
}

@media screen and (max-width: 767px) {
  .footer-wrap {
    padding: 20px 15px 0 0;
  }
}

/*----outline-------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  letter-spacing: 1.5px;
  line-height: 1.6;
  color: #333;
  font-size: normal;
  font-weight: normal;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -webkit-transition: left ease-out 0.3s;
  transition: left ease-out 0.3s;
  left: 0;
}

img {
  width: auto;
  height: auto;
}

.in-wrap {
  margin: 0 auto;
}

.br-sp {
  display: none;
}

.br-pc {
  display: block;
}

.flow-containersp {
  display: none;
}

.specialsp {
  display: none;
}

@media screen and (max-width: 767px) {
  .br-sp {
    display: block;
  }
  .br-pc {
    display: none;
  }
  .flow-containersp {
    display: block;
  }
  .flow-containerpc {
    display: none;
  }
  .flowimg {
    display: none;
  }
  .specialsp {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */