@import "_setting.scss";
@import "_header.scss";
@import "_backimage.scss";
@import "_big-contact.scss";
@import "_free-life.scss";
@import "_about.scss";
@import "_pagetop.scss";
@import "_question.scss";
@import "_step.scss";
@import "_important.scss";
@import "_learn.scss";
@import "_merit.scss";
@import "_member.scss";
@import "_really.scss";
@import "_answer.scss";
@import "_learning.scss";
@import "_learning-bottom.scss";
@import "_flow.scss";
@import "_bangkok.scss";
@import "_special.scss";
@import "_datail.scss";
@import "_message.scss";
@import "_tiping-form.scss";
@import "_footer.scss";


/*----outline-------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  letter-spacing: 1.5px;
  line-height: 1.6;
  color: #333;
  font-size: normal;
  font-weight: normal;
  position: relative;
  -webkit-text-size-adjust: 100%;
  transition: left ease-out 0.3s;
  left: 0;
}

img {
  width: auto;
  height: auto;
}

.in-wrap {
  margin: 0 auto;
}

.br-sp {
  display: none;
}

.br-pc {
  display: block;
}

.flow-containersp {
  display: none;
}

.specialsp {
  display: none;
}

@include media(max,sp) {
  .br-sp {
    display: block;
  }
  .br-pc {
    display: none;
  }

  .flow-containersp {
    display: block;
  }

  .flow-containerpc {
    display: none;
  }

  .flowimg {
    display: none;
  }

  .specialsp {
    display: block;
  }
}

