@import "_setting.scss";
/*----outline-------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  letter-spacing: 1.5px;
  line-height: 1.6;
  color: #333;
  font-size: normal;
  font-weight: normal;
  position: relative;
  -webkit-text-size-adjust: 100%;
  transition: left ease-out 0.3s;
  left: 0;
}

img {
  width: 100%;
  height: auto;
}

.in-wrap {
  width: 100%;
  margin: 0 auto;
}

/*---header--------------*/
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #FFFFFF;
  width: 100%;
  .in-wrap {
    width: 1170px;
    max-width: calc(100%-20px);
    padding: 20px 0;
    position: relative;
    height: 75px;
  }
}

.in-wrap {
  display: flex;
}

.header__logo {
  img {
    width: 128px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.subtitle {
  position: relative;
  bottom: -10px;
  p {
    font-weight: 600;
  }
}

.txts {
  font-size: 14px;
  font-weight: 300;
}

.contactform-pc {
    background-color: #DB6B64;
    border-radius: 25px;
    color: #fff;
    padding: 11px 40px;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 0;
    &:hover {
      background-color: #C7264E;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
  .txts {
    text-align: right;
  }
}

.contactform-sp {
  img {
    display: none;
  }
  a {
    display: none;
  }
}

.backimage {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.backimage-container {
  background-image: url(/image/background-image/index.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: table;
  width: 100%;
}

.backimage-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  .txt {
    font-size: 2.8rem;
    font-weight: 600;
  }
  .backimage-logo {
    width: 317px;
    margin-bottom: 20px;
  }
}

.txt-mini {
  font-size: 2.0rem;
  font-weight: 600;
}

.big-contact {
  background-color: $color-main;
  padding: 30px 0;
  text-align: center;
}

.big-contact-txt {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  p {
    margin-bottom: 10px;

  }
  .free-place {
    background-color: #F9F2F4;
    color: #C7264E;
    font-size: 1.8rem;
    padding: 2px 4px;
  }
}

.contactbtn {
  color: #fff;
  font-size: 2.0rem;
  margin: 45px auto;
  background-color: #DB6B64;
  padding: 30px 120px;
  border-radius: 50px;
  max-width: 1028px;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 600;
  &:hover {
    background-color: #C7264E;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}

.contact-txts {
  color: #fff;
  font-size: 2.1rem;
  font-weight: 600;
  p {
    margin-bottom: 20px;
  }
}

.sns-list {
  display: flex;
  justify-content: center;

}

.sns-btn {
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  font-weight: 500;
  height: 20px;
  box-sizing: border-box;
  margin-right: 5px;
  &:hover {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}

.fa-twitter {
  height: 14px;
  width: 14px;
  display: inline-block;
  margin-right: 4px;
}

.tw-btn {
  background-color: #1C95E0;
  &:hover {
    background-color: #09486e;
  }
}

.good-btn {
  background-color: #1B77F2;
  &:hover {
    background-color: #1051a5;
  }
}

.share-btn {
  background-color: #1B77F2;
  &:hover {
    background-color: #1051a5;
  }
}

.free-life {
  background-image: url(/image/background-image/introbottom.jpg);
  background-size: cover;
  background-position: center;
  height: 587px;
  padding: 40px 0;
  text-align: center;
}

.free-life__title {
  width: 860px;
  font-size: 2.8rem;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 15px 0;
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    border-top: 4px solid $color-main;
    border-left: 4px solid $color-main;
  }
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    border-bottom: 4px solid $color-main;
    border-right: 4px solid $color-main;
  }
  h2 {
    font-weight: 600;
  }
}

.contents-txts {
  padding: 40px 0;
}

.first-txt {
  margin-bottom: 24px;
  font-size: 2.0rem;
  font-weight: 300;
}

.second-txt {
  margin-bottom: 24px;
  font-size: 2.0rem;
  font-weight: 300;
}

.third-txt {
  margin-bottom: 24px;
  font-size: 2.0rem;
  font-weight: 300;
  .power {
    background: linear-gradient(transparent 70%, $color-main 70%);
  }
}

.about {
  padding: 0 0 40px 0;
  background-color: #fef5e0;
  text-align: center;
}

.about-icon {
  position: relative;
  top: -40px;
}

.about-icon__cycle {
  background-color: $color-main;
  height: 80px;
  width: 80px;
  padding: 0;
  margin: 0;
  display: inline-block;
  line-height: 80px;
  color: $color-txt;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.about-intitle {
  width: 860px;
  position: relative;
  margin: 0 auto;
  padding: 15px 30px;
  box-sizing: border-box;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-top: 4px solid $color-main;
    border-left: 4px solid $color-main;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-bottom: 4px solid $color-main;
    border-right: 4px solid $color-main;
  }
}

.about-tit__txt {
  font-size: 2.8rem;
  font-weight: 600;
}

.about-txt {
  font-weight: 600;
  font-size: 2.0rem;
  margin-top: 40px;
}

.about-box {
  margin: 30px auto;
  width: 1170px;
  padding: 30px;
  background-color: $color-txt;
  border: 2px solid $color-main;
  border-radius: 5px;
}

.box-txt {
  font-weight: 600;
  font-size: 2.0rem;
}

.box {
  display: inline-block;
  padding: 10px;
  img {
  width: auto;
  height: auto;
  }
}

.inbox-txt {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 5px;
}

.isara-step {
  background-image: url(/image/background-image/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  text-align: center;
}

.step-title {
  font-size: 2.8rem;
  font-weight: 600;
  color: $color-txt;
  margin-bottom: 20px;
}

.step-txts {
  margin-bottom: 10px;
  font-size: 2.0rem;
  font-weight: 600;
  color: $color-txt;
  span {
    color: $color-main;
  }
}

.step-container {
  margin-top: 30px;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
}

.step-box {
  background-color: $color-txt;
  padding: 30px 30px 20px;
  border-radius: 5px;
  width: 32%;
}
.box-title {
  text-transform: uppercase;
  background-color: $color-main;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-txt;
}

.step-ban__txt {
  margin: 30px 0 15px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #000000;
}

.step-txt {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}

.isara-important {
  background-color: #016ea9;
  padding: 40px 0;
  color: $color-txt;
  text-align: center;
}

.important-txt {
  font-size: 2.0rem;
  font-weight: 600;
  span {
    color: $color-main;
  }
}

.isara-learn {
  text-align: center;
  padding: 40px 0;
}

.learn-title {
  margin-bottom: 35px;
  font-size: 2.8rem;
  font-weight: 600;
}

.learn-txt {
  font-weight: 300;
  font-size: 2.0rem;
  margin-bottom: 10px;
}

.learn-container {
  width: 860px;
  margin: 40px auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.learn-box {
  width: 25%;
  img {
    width: 180px;
  }
}

.teach-txt {
  font-size:1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.isara-merit {
  padding: 40px 0;
  text-align: center;
  background-color: #fef5e0;
}

.merit-title_box {
  margin: 0 auto;
  position: relative;
  width: 860px;
  padding: 15px 30px;
  line-height: 40px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-top: 4px solid $color-main;
    border-left: 4px solid $color-main;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-bottom: 4px solid $color-main;
    border-right: 4px solid $color-main;
  }
}

.merit-mitxt {
  font-size: 2.0rem;
  font-weight: 600;
}

.merit-lertxt {
  font-size: 2.8rem;
  font-weight: 600;
}

.merit-container {
  margin-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
  display: table;
  display: flex;
}

.merit-box {
  width: 33%;
  padding-left: 15px;
  padding-right: 15px;
}

.merit-image {
  background-size: cover;
  background-position: center;
  height: 180px;
}

.learnfromfreelancer {
  background-image: url(/image/background-image/learnfromfreelancer.jpg);
}

.learnfromprojects {
  background-image: url(/image/background-image/learnfromprojects.jpg);
}

.actuallyfree {
  background-image: url(/image/background-image/actuallyfree.jpg);
}

.yellow-title {
  color: $color-main;
  text-align: left;
  font-size: 2.0rem;
  font-weight: 700;
  margin: 8px 0;
}

.merit-txt {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 8px 0;
}

.merit-support {
  width: 1170px;
  background-color: $color-txt;
  padding: 40px 20px;
  margin: 40px auto;
  border: 2px solid $color-main;
  border-radius: 5px;
}

.support-title {
  color: $color-main;
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.support-txt {
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.support-txts {
  font-size: 1.6rem;
  font-weight: 600;
}

.merit-bottom-txts {
  font-weight: 300;
  font-size: 1.4rem;
}

.isara-member {
  padding: 40px 0;
  background-image: url(/image/background-image/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: $color-txt;
}

.member-title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.member-txt {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.member-container {
  max-width: 780px;
  margin: 0 auto;
}

.member-row {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
}

.member-box {
  width: 50%;
  padding: 0 15px;
}

.member-image {
  position: relative;
  bottom: -35px;
  border-radius: 50%;
  width: 198px;
  height: 198px;
}

.txt-box {
  border: 3px solid #fff;
  padding: 40px;
}

.member-box__txt {
  font-weight: 300;
  margin-bottom: 10px;
}

.in-txt {
  text-align: left;
}

.isara-really {
  position: relative;
  background-color: $color-main;
  padding: 40px 0;
  text-align: center;
  color: $color-txt;
  &::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: 25px solid transparent;
    border-top-color: $color-main;
    top: 100%;
    left: 50%;
    margin-left: -25px;
  }
}

.circle2 {
  background-color: $color-txt;
  color: $color-main;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}

.really-txt {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0 auto;
  width:860px;
  padding: 15px 30px;
  position: relative;
  &::before {
    content:'';
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
}
  &::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
  }
}

.isara-answer {
  text-align: center;
  padding: 40px 0;
}

.answer-title {
  font-size: 2.8rem;
  font-weight: 600;
}

.answer-txt {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.answer-txts {
  margin-bottom: 10px;
}

.answer-container {
  width: 1170px;
  margin: 0 auto;
}

.answer-row {
  padding: 0 15px;
}

.clint-voice {
  width: 66.6%;
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1.8rem;
  text-align: left;
  font-style: italic;
  color: #777;
}

.clint-image {
  border: solid;
  flex: none;
  border-color: $color-main;
  width: 33.3%;
}