
/*----outline-------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  letter-spacing: 1.5px;
  color: #333;
  font-size: normal;
  font-weight: normal;
  position: relative;
  -webkit-text-size-adjust: 100%;
  transition: left ease-out 0.3s;
  left: 0;
}

img {
  width: 100%;
  height: auto;
}

.in-wrap {
  width: 100%;
  margin: 0 auto;
}

/*---header--------------*/
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #FFFFFF;
  width: 100%;
  .in-wrap {
    width: 1170px;
    max-width: calc(100%-20px);
    padding: 20px 0;
    position: relative;
    height: 75px;
  }
}

.in-wrap {
  display: flex;
}

.header__logo {
  img {
    width: 128px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.subtitle {
  position: relative;
  bottom: -10px;
  p {
    font-weight: 600;
  }
}

.txts {
  font-size: 14px;
  font-weight: 300;
}

.contactform-pc {
    background-color: #DB6B64;
    border-radius: 25px;
    color: #fff;
    padding: 11px 40px;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 0;
    &:hover {
      background-color: #C7264E;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
  .txts {
    text-align: right;
  }
}

.contactform-sp {
  img {
    display: none;
  }
  a {
    display: none;
  }
}

.backimage {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.backimage-container {
  background-image: url(/image/background-image/index.jpg);
  background-position: center;
  height: 500px;
  display: table;
  width: 100%;
  background-size: cover;
}

.backimage-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  .txt {
    font-size: 2.8rem;
    font-weight: 600;
  }
  .backimage-logo {
    width: 317px;
    margin-bottom: 20px;
  }
}

.txt-mini {
  font-size: 2.0rem;
  font-weight: 600;
}

.big-contact {
  background-color: rgb(235,185,77);
  padding: 30px 0;
  text-align: center;
}

.big-contact-txt {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  p {
    margin-bottom: 10px;

  }
  .free-place {
    background-color: #F9F2F4;
    color: #C7264E;
    font-size: 1.8rem;
    padding: 2px 4px;
  }
}

.contactbtn {
  color: #fff;
  font-size: 2.0rem;
  margin: 45px auto;
  background-color: #DB6B64;
  padding: 30px 120px;
  border-radius: 50px;
  max-width: 1028px;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 600;
  &:hover {
    background-color: #C7264E;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}

.contact-txts {
  color: #fff;
  font-size: 2.1rem;
  font-weight: 600;
  p {
    margin-bottom: 20px;
  }
}

.sns-list {
  display: flex;
  justify-content: center;

}

.tw-btn {
  background-color: #1C95E0;
  color: #fff;
  border-radius: 3px;
  padding: 5px 2px 5px 2px;
  cursor: pointer;
  font-weight: 500;
  height: 20px;
  box-sizing: border-box;
  margin-right: 5px;
  &:hover {
    background-color: #09486e;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}

.fa-twitter {
  height: 14px;
  width: 14px;
  display: inline-block;
  margin-right: 4px;
}

.good-btn {
  background-color: #1B77F2;
  color: #fff;
  border-radius: 3px;
  padding: 5px 2px 5px 2px;
  cursor: pointer;
  font-weight: 500;
  height: 20px;
  box-sizing: border-box;
  margin-right: 5px;
  &:hover {
    background-color: #1051a5;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}
